wandb/
__pycache__/
*/__pycache__/
slurm-*.out
*/slurm-*.out
*.gif
*/OLD/
OLD/
.ipynb_checkpoints/
figures/
*.log
*/*.ipynb
*.ipynb
.claude
*.ext3
datasets/
*.err
*.out
repomix-output.xml
.DS_Store
.venv-data/
data/.cache/
report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.pdf
/report/.texpadtmp
